<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<style>
    .content {
        font-size: small;
    }
</style>

<body>

<div class="content">
    <div th:replace="layouts/body-header :: bodyHeader" />

    <div class="container">
        <div class="col-md-12">
            <!--상단-->
            <div th:replace="layouts/book-list-header :: bookListHeader(readStatus='COMPLETED')" />
            <br>

            <!--책 목록 -->
            <table class="table">
                <col width="100rem"/>
                <col/>
                <thead>
                <tr>
                    <th style="display:none;">Id</th>
                    <th>완료 날짜</th>
                    <th>제목</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="book : ${books}">
                    <td th:text="${book.id}" style="display:none;"></td>
                    <td th:text="${#temporals.format(book.readEnd, 'yyyy-MM-dd')}"></td>
                    <td><a href="#" th:href="@{/api/v1/books/{id}/update (id=${book.id})}" th:text="${book.name}"/></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div th:replace="layouts/footer :: footer" />
</div>

</body>

</html>