<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
<div class="container">

    <div th:replace="layouts/bodyHeader :: bodyHeader" />

    <div class="col-md-12">

        <!--상단-->
        <div class="row justify-content-between align-items-center m-2">

            <!--메뉴-->
            <ul class="nav nav-pills nav-fill">
                <li class="nav-item">
                    <a class="nav-link" href="/books/readingList">읽는 중</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/books/plannedList">읽을 예정</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/books/completedList">읽은</a>
                </li>
            </ul>

            <!--책추가-->
            <a href="#" class="btn btn-info">책 추가</a>
        </div>

        <br>

        <!--책 목록 -->
        <table class="table">
            <col width="10"/>
            <col width="20%"/>
            <col width="60%"/>
            <col width="20%"/>
            <thead>
            <tr>
                <th>Id</th>
                <th>등록 날짜</th>
                <th>제목</th>
                <th>저자</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="book : ${books}">
                <td th:text="${book.id}"></td>
                <td th:text="${book.cratedDateText}"></td>
                <td><a href="#" th:href="@{/book/{id} (id=${book.id})}" th:text="${book.name}"/></td>
                <td th:text="${book.author}"></td>
            </tr>
            </tbody>

        </table>

    </div>

    <div th:replace="layouts/footer :: footer" />

</div>

</body>

</html>