<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layouts/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

<div class="container">
    <div class="col text-center">
        <h2 class="cover-heading">나의 서재</h2>
        <p class="lead">
            <a href="/oauth2/authorization/google" class="btn btn-dark">구글 로그인</a>
        </p>
        <p class="lead">
            <a href="/api/v1/books/readingList" class="btn btn-dark">메인 페이지(임시)</a>
        </p>
    </div>
</div>

</body>

</html>